<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="app">
        <p>{{ reverseMessage }}</p>
        <p>{{ reverseMessageMethod() }}</p>
        <p>base price: <input type="text" v-model="basePrice"></p>
        <p>tax included price: <input type="text" v-model="taxIncludedPrice"></p>
        
        <h2>Computed:</h2>
        <ol>
            <li>{{ computedNumber }}</li>
            <li>{{ computedNumber }}</li>
            <li>{{ computedNumber }}</li>
        </ol>
        <h2>Methods:</h2>
        <ol>
            <li>{{ methodsNumber() }}</li>
            <li>{{ methodsNumber() }}</li>
            <li>{{ methodsNumber() }}</li>
        </ol>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
</body>
</html>