<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="app">
        監視プロパティ例<br>
        <p>{{ message }}</p>
        <input type="text" v-model="message"><br>
        
        km⇔m
        <p><input type="text" v-model="km">km</p>
        <p><input type="text" v-model="m">m</p>

        fullName<br>
        <p>firstName<input type="text" v-model="firstName"></p>
        <p>lastName<input type="text" v-model="lastName"></p>
        <p>fullName: {{ fullName }}</p>

        <ul>
            <li v-for="color in colors">
                {{color.name }}
            </li>
        </ul>
        <button v-on:click="onClick">クリックしてね</button>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="js/main.js"></script>
</body>
</html>